http://127.0.0.1:8086 {
	encode zstd gzip
	root views
	header {
		Access-Control-Allow-Origin *
		Access-Control-Allow-Credentials true
		Access-Control-Allow-Methods *
		Access-Control-Allow-Headers *
	}
	file_server {
		index main_page.html
	}
}
